:root {
	--green: #28b055;
}
@font-face {
	font-family: Alarabiya;
	src: url(./assets/fonts/Alarabiya\ Normal\ Font.ttf);
}
@font-face {
	font-family: droidarabickufi;
	src: url(./assets/fonts/Droid.Arabic.Kufi_DownloadSoftware.iR_.ttf);
}

ul li a,
h1,
h2,
h3 {
	font-family: Alarabiya;
}

h4,
p {
	font-family: droidarabickufi;
}

ul li {
	list-style: none;
}

li,
p,
a {
	font-size: 16px;
}
a {
	text-decoration: none;
	color: black;
}
.heading {
	font-size: 40px;
}
.hidden {
	opacity: 0;
	filter: blur(5px);
}
.show {
	opacity: 1;
	filter: blur(0px);
	transition: all 0.5s 0.4s ease-in-out;
}
/* Start Hero Section */
.hero {
	background-image: url(./assets/images/spices.jpg);
	background-position: top left;
	background-size: 75%;
	background-repeat: no-repeat;
	padding-bottom: 5rem;
}

.logo {
	width: 150px;
}

.links li a {
	font-size: 22px;
}

.bg_green {
	background-color: var(--green);
}

.text_green {
	color: var(--green);
}

.content {
	gap: 5rem;
}
.hero-content {
	margin-top: 6rem;
}
.hero-content div {
	width: 38%;
}

/* .hero-leafs {
	bottom: 20px;
	right: 35px;
} */

.custom-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--green);
	padding: 8px;
	border-radius: 42%;
}

/* .bgImage {
	z-index: -1;
	top: -70px;
} */
/* End Hero Section */
/* Start About Section */
.about {
	background: url(./assets/images/leafs-bg.png), var(--green);
	background-position: center;
	background-size: 80%;
	background-repeat: no-repeat;
	padding: 3rem 0 6rem 0;
}
/* .about div div div:first-child {
	width: 57.5%;
} */
.about .container div > div img {
	width: 90%;
}
.about div div div:last-child {
	width: 42.5%;
}
.about div div div:last-child p {
	/* font-size: 21.05px; */
	margin-bottom: 7px;
}
/* End About Section */

/* Start Products Section */
.products {
	/* background-size: 55%; */
	padding-bottom: 2rem;
}
.products .container {
	background-image: url(./assets/images/spices2.jpg);
	background-repeat: no-repeat;
}

/* End Products Section */
/* Start Services Section */
.services div h4 {
	font-size: 22px;
}

.service {
	height: 270px;
}
/* End Services Section */
/* Start Footer */
footer {
	padding-top: 3rem;
	padding-bottom: 5rem;
}
footer div div {
	gap: 4rem;
}
/* footer div div:last-child a {
	font-size: 22.84px;
} */
/* End Footer */

/* Start Media Query */
@media (max-width: 768px) {
	.hero {
		height: 100vh;
	}
}

@media (max-width: 992px) {
	/* Start Responsive Hero section */
	.menu,
	.close {
		cursor: pointer;
		width: 30px;
	}
	nav div:nth-child(2) {
		position: absolute;
		background-color: white;
	}
	.hero {
		background-image: none;
		padding-bottom: 3rem;
	}
	.hero-content {
		margin-top: 3rem;
	}
	.hero-content div {
		width: auto;
	}
	.hero-leafs img {
		width: 255px;
	}
	/* End Responsive Hero section */

	/* Start Responsive About Section */
	.about {
		padding: 4rem 0 4rem 0;
		background-image: none;
	}
	.about .container div > div img {
		width: 300px;
	}
	/* .about div div div img {
		width: 300px;
	} */
	.about div div div:last-child {
		width: auto;
	}
	.about div div div:last-child p {
		font-size: 16px;
		margin-bottom: 4px;
	}
	/* End Responsive About Section */

	/* Start Responsive Products Section */
	.products .container {
		background-image: none;
	}
	/* End Responsive Products Section */
	/* Start Responsive Services Section */
	.service {
		height: auto;
	}
	.service > div {
		width: 100%;
	}
	footer div div {
		gap: 2rem;
	}
	footer div div:last-child a {
		font-size: 16px;
	}
	/* End Responsive Services Section */
}

@media (max-width: 1200px) {
	.about {
		background-size: 95%;
	}
}

@media (min-width: 1400px) {
	.hero {
		background-position-x: 0% !important;
		background-position-y: 90% !important;
	}
}

/* End Media Query */
